<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
  <ion-grid>
  <ion-row>
     <ion-col>Name</ion-col>
     <ion-col>Price</ion-col>
    <ion-col>Qty</ion-col>
    <ion-col>Total</ion-col>
  </ion-row>
  <ion-row *ngFor="let item of items">
    <ion-col>{{item.name}}</ion-col>
    <ion-col>{{item.price | currency}}</ion-col>
    <ion-col>
      {{item.num}} 
      <ion-button (click)="increaseNum(item.id)">+</ion-button>
      <ion-button (click)="decreaseNum(item.id)">-</ion-button>
    </ion-col>
    <ion-col>{{(item.price * item.num) | currency}}</ion-col>
  </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <h2><strong>Grand Total: {{getGrandTotal() | currency}}</strong></h2>
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
