<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pasta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pasta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchText" (ionChange)="filterPastas()" placeholder="Search pasta..."></ion-searchbar>

  <div id="content">
    <ion-segment [(ngModel)]="jenistampilan">
      <ion-segment-button value="accordion">
        <ion-label>Accordion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="card">
        <ion-label>Card</ion-label> 
      </ion-segment-button>
      <ion-segment-button value="grid">
        <ion-label>Grid</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-accordion-group expand="inset" *ngIf="jenistampilan==='accordion'">
      <ion-accordion *ngFor="let pasta of pastas; let i = index" [value]="i">
        <ion-item slot="header" color="light">
          <ion-label>{{ pasta.name }}</ion-label>
          <ion-chip color="danger" *ngIf="pasta.spicy">
            <ion-label>Spicy</ion-label>
          </ion-chip>
        </ion-item>
        <div class="ion-padding" slot="content">
          <img [src]="pasta.url" alt="{{ pasta.name }}" />
          <p>{{ pasta.description }}</p>
          <p>Price: {{ pasta.price | currency }}</p>
          <ion-button expand="block" [routerLink]="['/pastadetail', i]" color="danger">
            View Details
          </ion-button>
          <ion-item>
  <ion-button (click)="addtocart(pasta.id,pasta.name,pasta.price,1)">
    Add to Cart
  </ion-button>
</ion-item>

        </div>
      </ion-accordion>
    </ion-accordion-group>

    <div *ngIf="jenistampilan==='card'">
      <ion-card *ngFor="let pasta of pastas; let i = index" [routerLink]="['/pastadetail', i]" routerLinkActive="router-link-active">
        <img [src]="pasta.url" alt="{{ pasta.name }}" />
        <ion-card-header>
          <ion-card-title>
            {{ pasta.name }}
            <ion-badge color="danger" *ngIf="pasta.spicy">Spicy</ion-badge>
          </ion-card-title>
          <ion-card-subtitle>{{ pasta.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Price: {{ pasta.price | currency }}
        </ion-card-content>
      </ion-card>
    </div>

    <ion-grid *ngIf="jenistampilan=='grid'">
  <ion-row *ngFor="let pastas2 of chunkArray(pastas, 2); let chunkIndex = index" >
    <ion-col *ngFor="let pasta of pastas2; let i = index" >
      <ion-list>
         <ion-item [routerLink]="['/pastadetail', i]">
           <ion-img [src]="pasta.url"></ion-img>
         </ion-item>
         <ion-item [routerLink]="['/pastadetail', i]">
           {{pasta.name}}
           <ion-badge color="danger" *ngIf="pasta.spicy">Spicy</ion-badge>
         </ion-item>
     </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

  </div>
</ion-content>
